@import "../custom";
@import "../abstracts/mixins";

//fixes button size and font size
@include media-breakpoint-down(md) {
  .header {
    .row {
      .col {
        padding: 0;
        .btn {
          @include button(100%, 0.9rem);
        }
        &:nth-child(3) {
          &::before {
            max-width: 138px;
          }
        }
      }
    }
  }

  .footer {
    .row {
      .col {
        padding: 0;
        .btn {
          @include button(100%, 0.9rem);
        }
      }
    }
  }
}

//hides the CTA and the content in each column exept the buttons
@include media-breakpoint-down(sm) {
  .header {
    .row {
      .col {
        .btn {
          @include button(100%, 0.9rem);
          box-sizing: border-box;
        }

        &:nth-child(3)::before {
          content: "";
          display: none;
        }

        h3,
        h2,
        p {
          display: none;
        }
        background-color: hotpink;
      }
    }
  }

  //   MAKE THE FOOTER COLS DISAPPEAR ON MOBILE EXCEPT FOR THE SECOND COLUMN
  .container .footer .row .col {
    width: 100%;
    display: block;
    &:nth-child(1) {
      display: none;
    }
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(4) {
      display: none;
    }
  }
}

//HIDES THE TABLE CONTENT AND THE THEADS ON MOBILE
@include media-breakpoint-down(sm) {
  .table {
    thead {
      th:nth-child(3) {
        display: none;
      }
      th:nth-child(4) {
        display: none;
      }
    }
    tbody {
      width: 100%;
      td {
        width: 50%;
      }
      tr {
        &:last-child {
          .basic,
          .business,
          .pro {
            border-bottom: none;
          }
        }

        &:last-child {
          td {
            &:first-child {
              border-bottom: none;
            }
          }
        }
      }

      .business,
      .pro {
        display: none;
      }
    }
  }
}
