@import "../custom";

//fixes button size and font size
@include media-breakpoint-down(md) {
  .header {
    .row {
      .col {
        padding: 0;
        .btn {
          width: 100%;
        }
      }
    }
  }
  .row {
    .col {
      padding: 0;
      .btn {
        width: 100%;
        font-size: 0.6rem;
      }
    }
  }
}

//hides the CTA and the content in each column exept the buttons
@include media-breakpoint-down(sm) {
  .header {
    .row {
      .col {
        .btn {
          font-size: 1.3rem;
        }

        &:nth-child(3)::before {
          content: "";
          display: none;
        }

        h3,
        h2,
        p {
          display: none;
        }
        background-color: hotpink;
      }
    }
  }

  //   MAKE THE FOOTER COLS DISAPPEAR ON MOBILE EXCEPT FOR THE SECOND COLUMN
  .container .footer .row .col {
    width: 100%;
    display: block;
    .btn {
      font-size: 1.3rem;
    }
    &:nth-child(1) {
      display: none;
    }
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(4) {
      display: none;
    }
    //   &:nth-child(2) {
    //     width: 100%;
    //     display: block;
    //     .btn {
    //       font-size: 1.3rem;
    //     }
    //   }
  }
}

//HIDES THE TABLE CONTENT AND THE THEADS ON MOBILE
@include media-breakpoint-down(sm) {
  .table {
    // background-color: greenyellow;
    thead {
      th:nth-child(3) {
        display: none;
      }
      th:nth-child(4) {
        display: none;
      }
    }
    tbody {
      width: 100%;
      td {
        width: 50%;
        // width: 100%;
      }
      tr {
        &:last-child {
          //   border: 3px solid pink;
          .basic,
          .business,
          .pro {
            border-bottom: none;
            // border: 3px solid green;
          }
        }

        &:last-child {
          td {
            &:first-child {
              border-bottom: none;
            }
          }
        }
      }

      .business,
      .pro {
        // visibility: hidden;
        display: none;
      }
    }
  }
}

// tbody tr:last-child {
//   border: 3px solid pink;
//   .basic,
//   .business,
//   .pro {
//     border-bottom: none;
//     border: 3px solid green;
//   }
// }

//tbody tr:last-child td:first-child {
//border: 3px solid pink;
//}
