@import "../custom";

//fixes button size and font size
@include media-breakpoint-down(md) {
  .header {
    .row {
      .col {
        padding: 0;
        .btn {
          width: 100%;
        }
      }
    }
  }
  .row {
    .col {
      padding: 0;
      .btn {
        width: 100%;
        font-size: 0.6rem;
      }
    }
  }
}

//hides the CTA and the content in each column exept the buttons
@include media-breakpoint-down(sm) {
  .header {
    .row {
      .col {
        .btn {
          font-size: 1.3rem;
        }

        &:nth-child(3)::before {
          content: "";
          display: none;
        }

        h3,
        h2,
        p {
          display: none;
        }
        background-color: hotpink;
      }
    }
  }

  //   MAKE THE FOOTER COLS DISAPPEAR ON MOBILE EXCEPT FOR THE SECOND COLUMN
  .container .footer .row .col {
    width: 100%;
    display: block;
    .btn {
      font-size: 1.3rem;
    }
    &:nth-child(1) {
      display: none;
    }
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(4) {
      display: none;
    }
    //   &:nth-child(2) {
    //     width: 100%;
    //     display: block;
    //     .btn {
    //       font-size: 1.3rem;
    //     }
    //   }
  }
}

//HIDES THE TABLE CONTENT AND THE THEADS ON MOBILE
@include media-breakpoint-down(sm) {
  .table {
    // background-color: greenyellow;
    thead {
      th:nth-child(3) {
        display: none;
      }
      th:nth-child(4) {
        display: none;
      }
    }
    tbody {
      width: 100%;
      td {
        width: 50%;
        // width: 100%;
      }
      .business,
      .pro {
        // visibility: hidden;
        display: none;
      }
    }
  }
}
// @include media-breakpoint-up(sm) {
//   .table {
//     // background-color: greenyellow;
//     tbody {
//       width: 100%;
//       td {
//         // width: 100%;
//         // width: 100%;
//       }
//       .business,
//       .pro {
//         // visibility: hidden;
//         display: block;
//         border: 2px solid red;
//       }
//     }
//   }
// }

// @include media-breakpoint-up(sm) {
//   tbody {
//     border: 1px solid black;
//     transition: 0s;
//     width: 100%;
//     tr {
//       // display: flex;
//       // flex-direction: row;
//       // flex: 1;
//       // border: 2px solid red;
//       //   width: 100%;
//       td:first-child {
//         // flex: 1;
//         padding-left: 50px;
//         text-align: left;
//       }
//       td {
//         // flex: 1;
//         border: 1px solid #ececec;
//         text-align: center;
//         padding: 10px;
//         width: 100%;
//         border: 2px solid blue;
//         i {
//           font-size: 25px;
//           color: #b9d54a;
//         }
//       }
//     }
//   }
// }

// .show-on-mobile {
//   display: block;
//   background-color: green;
//   width: 500%;
// }

// .remove-on-mobile {
//   background-color: black;
// }

// @include media-breakpoint-up(md) {
//   .table {
//     // background-color: greenyellow;
//     thead {
//       border: 1px solid black;
//       th:nth-child(3) {
//         display: inline-block;
//         border: 1px solid black;
//       }
//       th:nth-child(4) {
//         display: inline-block;
//       }
//     }
//     tbody {
//       //   width: 100%;
//       td {
//         // width: 50%;
//       }
//       //   .business,
//       //   .pro {
//       //     display: inline-block;
//       //   }
//     }
//   }
// }
