$primary: #7c6f99;
$secondary: #a7cb1b;
$success: #4c7ca5;

$grid-breakpoints: (
  xs: 0,
  // sm: 576px,
  sm: 650px,
  // md: 768px,
  // md: 643px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
