.container {
  .table {
    thead {
      background-color: #f7f7f7;
      border: 1px solid #d6d6d6;
      padding: 20px;
      tr {
        th:first-child {
          padding-left: 20px;
          text-align: left;
          .bi {
            &-chevron-down {
              margin-right: 15px;
            }
            &-question-circle {
              color: #b9d54a;
              margin-left: 5px;
            }
          }
        }

        th {
          width: 20%;
          padding: 10px;
          text-align: center;
        }
      }
    }

    tbody {
      border: 1px solid black;
      transition: 0s;
      tr {
        td:first-child {
          padding-left: 50px;
          text-align: left;
        }
        td {
          border: 1px solid #ececec;
          text-align: center;
          padding: 10px;
          i {
            font-size: 25px;
            color: #b9d54a;
          }
        }
      }
    }
  }
}
