@import "../custom";

.container {
  padding: 0;
  .table {
    thead {
      background-color: #f7f7f7;
      border: none;
      padding: 20px;
      tr {
        border: 1px solid #ececec;
        th:first-child {
          padding-left: 20px;
          text-align: left;
          .bi {
            &-chevron-down {
              margin-right: 15px;
              transition-duration: 0.8s;
              transition-property: transform;
            }
            &-question-circle {
              color: #b9d54a;
              margin-left: 5px;
            }
          }
        }

        th {
          width: 20%;
          padding: 10px;
          text-align: center;
          border: none;
        }
      }
    }

    tbody {
      transition: 0s;
      width: 100%;
      tr {
        width: 100%;
        td:first-child {
          padding-left: 50px;
          text-align: left;
        }

        td {
          flex: 1;
          border: 1px solid #ececec;
          text-align: center;
          padding: 10px;
          i {
            font-size: 25px;
            color: #b9d54a;
          }
        }
      }
    }
  }
}
